*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.avro filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.lz4 filter=lfs diff=lfs merge=lfs -text
*.mds filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
# Audio files - uncompressed
*.pcm filter=lfs diff=lfs merge=lfs -text
*.sam filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
# Audio files - compressed
*.aac filter=lfs diff=lfs merge=lfs -text
*.flac filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -text
# Image files - uncompressed
*.bmp filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
# Image files - compressed
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# Video files - compressed
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.webm filter=lfs diff=lfs merge=lfs -text
track_3/mesh/beige_cup/beige_cup.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/blue_cup/blue_cup.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/mini_dust_pan/mini_dust_pan.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/mini_sweeper/mini_sweeper.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/plastic_dish_rack/plastic_dish_rack.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/water_pitcher/water_pitcher.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/white_pot/white_pot.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/white_pot_lid/white_pot_lid.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/wooden_piece_1/wooden_piece_1.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/wooden_piece_2/wooden_piece_2.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/wooden_spoon/wooden_spoon.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/baseball_bat/baseball_bat.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/big_black_box/big_black_box.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/big_red_bowl/big_red_bowl.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/black_platform/black_platform.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/blue_easter_basket/blue_easter_basket.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/blue_trash_can/blue_trash_can.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/cane/cane.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/contigo_coffee_mug/contigo_coffee_mug.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/cyan_water_bottle/cyan_water_bottle.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/iron/iron.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/light_blue_book/light_blue_book.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/monitor/monitor.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/rice_cooker/rice_cooker.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/rolling_luggage/rolling_luggage.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/round_table/round_table.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/skateboard/skateboard.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/skinny_wood_chair/skinny_wood_chair.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/snack_box/snack_box.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/spray_bottle/spray_bottle.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/squeegee/squeegee.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/step_ladder/step_ladder.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/tall_bar_stool/tall_bar_stool.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/toy_stroller/toy_stroller.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/traffic_cone/traffic_cone.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/vacuum/vacuum.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/watering_can/watering_can.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/wet_floor_sign/wet_floor_sign.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/white_desk/white_desk.glb filter=lfs diff=lfs merge=lfs -text
track_2/mesh/woven_basket/woven_basket.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/wooden_piece_1/wooden_piece_1_collision.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/wooden_piece_1/wooden_piece_1_visual.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/wooden_piece_2/wooden_piece_2_collision.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/wooden_piece_2/wooden_piece_2_visual.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/mini_sweeper/mini_sweeper_collision.glb filter=lfs diff=lfs merge=lfs -text
track_3/mesh/mini_sweeper/mini_sweeper_visual.glb filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
track_1/meta/episodes_stats.jsonl filter=lfs diff=lfs merge=lfs -text
